:root {
  --blackblack-50: rgba(230, 230, 230, 1);
  --blackblack-100: rgba(176, 176, 176, 1);
  --blackblack-200: rgba(138, 138, 138, 1);
  --blackblack-300: rgba(36, 36, 36, 1);
  --blackblack-400: rgba(20, 20, 20, 1);
  --blackblack-500: rgba(0, 0, 0, 1);
  --blackblack-600: rgba(0, 0, 0, 1);
  --blackblack-700: rgba(0, 0, 0, 1);
  --blackblack-800: rgba(0, 0, 0, 1);
  --blackblack-900: rgba(0, 0, 0, 1);
  --greygrey-50: rgba(249, 249, 249, 1);
  --greygrey-100: rgba(237, 237, 237, 1);
  --greygrey-200: rgba(228, 228, 228, 1);
  --greygrey-300: rgba(215, 215, 215, 1);
  --greygrey-400: rgba(208, 208, 208, 1);
  --greygrey-500: rgba(196, 196, 196, 1);
  --greygrey-600: rgba(178, 178, 178, 1);
  --greygrey-700: rgba(139, 139, 139, 1);
  --greygrey-800: rgba(108, 108, 108, 1);
  --greygrey-900: rgba(82, 82, 82, 1);
  --whitewhite-500: rgba(255, 255, 255, 1);
  --whitewhite-600: rgba(232, 232, 232, 1);
  --whitewhite-700: rgba(181, 181, 181, 1);
  --whitewhite-800: rgba(140, 140, 140, 1);
  --whitewhite-900: rgba(107, 107, 107, 1);
  --othersgreen: rgba(41, 174, 41, 1);
  --othersyellow: rgba(255, 198, 42, 1);
  --othersred: rgba(237, 42, 42, 1);
  --othersorange: rgba(237, 118, 21, 1);
  --otherslavender: rgba(110, 60, 245, 1);
  --otherssussie: rgba(56, 225, 241, 1);
  --othersblue-jeans: rgba(0, 130, 255, 1);
  --display-2xl-font-family: "Berghan", Helvetica;
  --display-2xl-font-weight: 400;
  --display-2xl-font-size: 227px;
  --display-2xl-letter-spacing: -4.54px;
  --display-2xl-line-height: 89.99999761581421%;
  --display-2xl-font-style: normal;
  --display-XL-font-family: "Berghan", Helvetica;
  --display-XL-font-weight: 400;
  --display-XL-font-size: 140px;
  --display-XL-letter-spacing: -2.8px;
  --display-XL-line-height: 110.00000238418579%;
  --display-XL-font-style: normal;
  --display-m-font-family: "Berghan", Helvetica;
  --display-m-font-weight: 400;
  --display-m-font-size: 84px;
  --display-m-letter-spacing: -0.84px;
  --display-m-line-height: 129.99999523162842%;
  --display-m-font-style: normal;
  --heading-h1-font-family: "Berghan", Helvetica;
  --heading-h1-font-weight: 400;
  --heading-h1-font-size: 64px;
  --heading-h1-letter-spacing: -0.64px;
  --heading-h1-line-height: 110.00000238418579%;
  --heading-h1-font-style: normal;
  --heading-h2-font-family: "Berghan", Helvetica;
  --heading-h2-font-weight: 400;
  --heading-h2-font-size: 48px;
  --heading-h2-letter-spacing: -0.48px;
  --heading-h2-line-height: 120.00000476837158%;
  --heading-h2-font-style: normal;
  --heading-h3-font-family: "Berghan", Helvetica;
  --heading-h3-font-weight: 400;
  --heading-h3-font-size: 32px;
  --heading-h3-letter-spacing: -0.32px;
  --heading-h3-line-height: 129.99999523162842%;
  --heading-h3-font-style: normal;
  --heading-h4-font-family: "Berghan", Helvetica;
  --heading-h4-font-weight: 400;
  --heading-h4-font-size: 24px;
  --heading-h4-letter-spacing: -0.24px;
  --heading-h4-line-height: 129.99999523162842%;
  --heading-h4-font-style: normal;
  --heading-h5-font-family: "Berghan", Helvetica;
  --heading-h5-font-weight: 400;
  --heading-h5-font-size: 20px;
  --heading-h5-letter-spacing: -0.2px;
  --heading-h5-line-height: 139.9999976158142%;
  --heading-h5-font-style: normal;
  --heading-h6-font-family: "Work Sans", Helvetica;
  --heading-h6-font-weight: 400;
  --heading-h6-font-size: 48px;
  --heading-h6-letter-spacing: -0.48px;
  --heading-h6-line-height: 129.99999523162842%;
  --heading-h6-font-style: normal;
  --body-XL-font-family: "Work Sans", Helvetica;
  --body-XL-font-weight: 400;
  --body-XL-font-size: 20px;
  --body-XL-letter-spacing: -0.2px;
  --body-XL-line-height: 139.9999976158142%;
  --body-XL-font-style: normal;
  --body-l-font-family: "Work Sans", Helvetica;
  --body-l-font-weight: 400;
  --body-l-font-size: 16px;
  --body-l-letter-spacing: -0.16px;
  --body-l-line-height: 24px;
  --body-l-font-style: normal;
  --body-m-font-family: "Work Sans", Helvetica;
  --body-m-font-weight: 400;
  --body-m-font-size: 14px;
  --body-m-letter-spacing: -0.14px;
  --body-m-line-height: 24px;
  --body-m-font-style: normal;
  --navigation: 0px 12px 20px 0px rgba(0, 0, 0, 0.04);
}
