.home-dark-mode {
  background-color: var(--blackblack-900);
  width: 100%;
  min-width: 1440px;
  min-height: 5297px;
  display: flex;
  flex-direction: column;
}

.home-dark-mode .navigation-home {
  display: inline-flex;
  height: 56px;
  width: 456px;
  align-self: center;
  position: relative;
  margin-top: 104px;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 0px 5px;
  background-color: var(--blackblack-400);
  border-radius: 80px;
  box-shadow: var(--navigation);
}

.home-dark-mode .home {
  display: inline-flex;
  height: 46px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 16px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--whitewhite-500);
  border-radius: 48px;
}

.home-dark-mode .text {
  position: relative;
  width: fit-content;
  margin-top: -8.00px;
  margin-bottom: -6.00px;
  font-family: "Work Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--blackblack-500);
  font-size: 20px;
  letter-spacing: -0.20px;
  line-height: 28.0px;
  white-space: nowrap;
}

.home-dark-mode .div {
  display: inline-flex;
  height: 46px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 16px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 48px;
}

.home-dark-mode .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -8.00px;
  margin-bottom: -6.00px;
  font-family: "Work Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--greygrey-500);
  font-size: 20px;
  letter-spacing: -0.20px;
  line-height: 28.0px;
  white-space: nowrap;
}

.home-dark-mode .frame {
  display: flex;
  margin-left: 102px;
  width: 1227px;
  height: 300px;
  position: relative;
  margin-top: 90px;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.home-dark-mode .graphic-product {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Berghan-Regular", Helvetica;
  font-weight: 400;
  color: var(--whitewhite-500);
  font-size: 140px;
  letter-spacing: 0;
  line-height: 140px;
}

.home-dark-mode .auto-layout {
  display: flex;
  margin-left: 112px;
  width: 1217px;
  height: 84px;
  position: relative;
  margin-top: 121px;
  align-items: flex-start;
  justify-content: space-between;
}

.home-dark-mode .auto-layout-vertical {
  flex-direction: column;
  width: 279px;
  height: 84px;
  gap: 9px;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.home-dark-mode .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Work Sans-Bold", Helvetica;
  font-weight: 700;
  color: var(--whitewhite-500);
  font-size: 24px;
  letter-spacing: -0.24px;
  line-height: 31.2px;
  white-space: nowrap;
}

.home-dark-mode .div-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  position: relative;
  flex: 0 0 auto;
}

.home-dark-mode .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Work Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--whitewhite-500);
  font-size: 20px;
  letter-spacing: -0.20px;
  line-height: 28.0px;
  white-space: nowrap;
}

.home-dark-mode .hello-i-m-evelin-a {
  position: relative;
  width: 417px;
  margin-top: -1.00px;
  font-family: "Work Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--whitewhite-500);
  font-size: 20px;
  letter-spacing: -0.20px;
  line-height: 28.0px;
}

.home-dark-mode .auto-layout-vertical-wrapper {
  display: flex;
  margin-left: 112px;
  width: 1217px;
  height: 58px;
  position: relative;
  margin-top: 100px;
  align-items: flex-end;
  gap: 754px;
}

.home-dark-mode .auto-layout-vertical-2 {
  align-items: flex-start;
  gap: 11px;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 auto;
}

.home-dark-mode .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--heading-h2-font-family);
  font-weight: var(--heading-h2-font-weight);
  color: var(--whitewhite-500);
  font-size: var(--heading-h2-font-size);
  letter-spacing: var(--heading-h2-letter-spacing);
  line-height: var(--heading-h2-line-height);
  white-space: nowrap;
  font-style: var(--heading-h2-font-style);
}

.home-dark-mode .frame-2 {
  display: flex;
  margin-left: 112px;
  width: 1216px;
  height: 3750px;
  position: relative;
  margin-top: 60px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.home-dark-mode .auto-layout-2 {
  gap: 32px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.home-dark-mode .card-element {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 592px;
  position: relative;
}

.home-dark-mode .card-element-desktop {
  position: relative;
  width: 592px;
  height: 500px;
  background-color: #000f9f;
  border-radius: 32px;
  overflow: hidden;
}

.home-dark-mode .image {
  position: absolute;
  top: 40px;
  left: calc(50.00% - 241px);
  width: 481px;
  height: 460px;
}

.home-dark-mode .frame-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home-dark-mode .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Berghan-Regular", Helvetica;
  font-weight: 400;
  color: var(--whitewhite-500);
  font-size: 32px;
  letter-spacing: -0.32px;
  line-height: 41.6px;
}

.home-dark-mode .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  font-family: "Work Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--whitewhite-500);
  font-size: 20px;
  letter-spacing: -0.20px;
  line-height: 28.0px;
}

.home-dark-mode .img {
  height: 500px;
  width: 592px;
  position: relative;
}

.home-dark-mode .image-wrapper {
  position: relative;
  width: 592px;
  height: 500px;
  background-color: #12b67a;
  border-radius: 32px;
  overflow: hidden;
  box-shadow: 0px 4px 4px #00000040;
}

.home-dark-mode .card-element-2 {
  display: flex;
  flex-direction: column;
  height: 600px;
  align-items: flex-start;
  gap: 24px;
  width: 592px;
  position: relative;
}

.home-dark-mode .card-element-desktop-2 {
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.home-dark-mode .footer-footer-wrapper {
  display: flex;
  margin-left: 112px;
  width: 1216px;
  height: 434px;
  position: relative;
  margin-top: 140px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 0px 10px 140px;
}

.home-dark-mode .footer-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home-dark-mode .auto-layout-vertical-3 {
  align-items: center;
  gap: 48px;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 auto;
}

.home-dark-mode .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--display-XL-font-family);
  font-weight: var(--display-XL-font-weight);
  color: var(--whitewhite-500);
  font-size: var(--display-XL-font-size);
  text-align: center;
  letter-spacing: var(--display-XL-letter-spacing);
  line-height: var(--display-XL-line-height);
  white-space: nowrap;
  font-style: var(--display-XL-font-style);
}

.home-dark-mode .frame-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 32px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--blackblack-400);
  border-radius: 144px;
  overflow: hidden;
}

.home-dark-mode .frame-4 {
  display: inline-flex;
  align-items: center;
  gap: 7px;
  position: relative;
  flex: 0 0 auto;
}

.home-dark-mode .hello-joey-co {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--heading-h5-font-family);
  font-weight: var(--heading-h5-font-weight);
  color: var(--whitewhite-500);
  font-size: var(--heading-h5-font-size);
  letter-spacing: var(--heading-h5-letter-spacing);
  line-height: var(--heading-h5-line-height);
  white-space: nowrap;
  font-style: var(--heading-h5-font-style);
}

.home-dark-mode .frame-5 {
  position: relative;
  width: 19.8px;
  height: 19.8px;
}

.home-dark-mode .vector-wrapper {
  position: relative;
  top: 2px;
  left: 3px;
  width: 13px;
  height: 15px;
  transform: rotate(-135deg);
}

.home-dark-mode .vector {
  position: absolute;
  width: 95.27%;
  height: 98.67%;
  top: 7.65%;
  left: 0;
  transform: rotate(135deg);
}

